


    <nav class="menu-lable body">
      <div>
      <mat-icon class="lable-link"
                routerLinkActive="active" [routerLink]="['/']">home</mat-icon>
      </div>

      <div>
        <a  routerLinkActive="active" [routerLink]="['products-p']"
        class="lable-link">Promoções</a>
      </div>

      <div>

      <a class="lable-link" target="_blank" rel="noopener"
         href="http://scherlandro.blogspot.com/" >Blog</a>
      </div>

   <!--   <div>
      <mat-icon class="lable-link" >art_track</mat-icon>
      <a class="lable-link" routerLinkActive="active" [routerLink]="['contact']">
        Contacts</a>
      </div>
-->
      <div>
      <a class="lable-link" routerLinkActive="active" [routerLink]="['district']">
       Departamentos</a>
      </div>

     <!-- <div>
      <input class="lable-link" type="search" placeholder="Search">
      </div>
-->
      <div>
      <mat-icon class="bt-icon " >login</mat-icon>
      <a class="lable-link"  routerLinkActive="active" [routerLink]="['/auth/login']">Entrar</a>
      </div>

    </nav>





 <!-- <nav class="toolbar" role="banner">

    <div class="div-top" >
      <mat-card-header>
        <div mat-card-avatar class="header-image" ></div>
        <mat-card-title >Desenvolvedor</mat-card-title>
        <mat-card-subtitle style="color: #32e27e;" >Scherlandro</mat-card-subtitle>
      </mat-card-header>-->
<!--
      <swiper-container>
      <swiper-slide>Slide 1</swiper-slide>
      <swiper-slide>Slide 2</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      ...
    </swiper-container>
    https://www.youtube-nocookie.com/embed/01jwVb3WLoA?playlist=01jwVb3WLoA&autoplay=1&iv_load_policy=3&loop=1&modestbranding=1&start=
-->
        <!--<swiper class="swiper-conteiner-head" effect="cube"    >
          <ng-template swiperSlide class="swiper-slide-head" >
            <img class="imag-swiper-head" src="/assets/image/scherlandro.jpg"  />
          </ng-template>
          <ng-template swiperSlide class="swiper-slide-head"  >
            <img class="imag-swiper-head" src="assets/image/clone_old.png" />
          </ng-template>
          <ng-template swiperSlide class="swiper-slide-head"  >
            <img class="imag-swiper-head" src="assets/image/lambao.jpg" />
          </ng-template>
          <ng-template swiperSlide class="swiper-slide-head"  >
            <img class="imag-swiper-head" src="/assets/image/r2_d2.png"/>
          </ng-template>
        </swiper>-->
  <!--    <br>
      <br>
      <br>
      <br>
      <a href="#portfolio" class="label-descrition"><i class="label-descrition"></i>PORTFOLIO</a>
      <a href="#about" class="label-descrition"><i class="label-descrition"></i>ABOUT</a>
      <a href="#contact" class="label-descrition"><i class="label-descrition"></i>CONTACT</a>
    </div>

   <a  mat-button=""  routerLink="" >
      <span class="toolbar">Home</span></a>
    <ul ></ul>

    <a  mat-button=""  routerLink="/produtos-p" >
      <span class="toolbar">Produtos</span></a>
    <ul></ul>
    <ul ></ul>
    <ul ></ul>
    <ul ></ul>

    <a class="toolbar" target="_blank" rel="noopener" mat-button=""
       href="http://scherlandro.blogspot.com/" >
      <span class="toolbar ">MEU BLOG</span></a>
    <ul ></ul>

    <a  mat-button=""  routerLink="/auth/login" >
      <span class="toolbar ">Login</span></a>
  </nav>
-->
