
<div class="body-contabil">

    <canvas  #canvasElement></canvas>

  <br>
  <div class="config-component">
    <input type="date" class="input-date" name="date_init" id="date_init"
           required [(ngModel)]="date_init">

    <input type="date" class="input-date" id="date_finish" name="date_finish"
           required [(ngModel)]="date_finish">

    <button class="button-sizes" type="submit" (click)="mostarGrafico()">
      Mostrar Análise Gráfica
    </button>
  </div>

</div>

<!--  About input date
 https://developer.mozilla.org/pt-BR/docs/Web/HTML/Element/input/date
 -->



