.body-contabil{
  border-radius: 8px;
 align-content: center;
  justify-content: center;
  color: #00030a;
  background-image: -webkit-linear-gradient(top, #4d1d89, #87f3be);
  background-image: -moz-linear-gradient(top, #4d1d89, #87f3be);
  background-image: -ms-linear-gradient(top,#4d1d89, #87f3be);
  background-image: -o-linear-gradient(top, #d66cf3, #87f3be);
  background-image: linear-gradient(to bottom, #d66cf3, #87f3be);
}

.button-sizes{
  position: right;
  width: 80%;
  height: auto;
  border-radius: 15px;
  background-image: -webkit-linear-gradient(top, #d5c9e5, #5b615e);
}
.input-date{
  width: 80%;
  height: auto;
  padding: 1px;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(top, #d5c9e5, #5b615e);
}
.config-component{
  display: grid ;
  grid-template-columns: 2fr 2fr 3fr;
  grid-gap: 4fr;
  padding:10px;
}



