.main-login{
  padding: 2% 2% 2% 2%;
  display: flex;
  justify-content: center;
}
.container{
  --color-light-50: #b9e374;
  --color-dark-50: #c5a0ce;
  --color-dark-100: #312d37;
  --color-dark-900: #000;
  --color-purple-50: #390A7DFF;
  --color-purple-100: #671CA1FF;
  --color-purple-200: #bf46ef;
  --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
  box-shadow: 10px 5px 5px rgba(10, 40, 30, 0.4);
  padding: 20px 40px 20px 40px;
  border-radius: 30px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--color-gradient);
}
.conteudo-login{
  display: flex;
  flex-direction: column;
}
.card-login{
  width: 300px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
}
.mat-card.mat-input-element{
  width: 265px;
  background-color: darkgray;
  color: lawngreen;
  box-shadow: 10px 5px 5px rgba(1, 10, 20, 0.4);
}
.bottom-container{
  background: var(--color-gradient);
  color: lawngreen;
  box-shadow: 10px 5px 5px rgba(10, 40, 30, 0.4);
  border-radius: 15px;
  cursor: pointer;
}
.component-g{
  min-width: 200px;
  width: auto;
  min-height: 50px;
  height: auto;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(top, #8438ee, #34db85);
  background-image: -moz-linear-gradient(top, #8438ee, #34db85);
  background-image: -ms-linear-gradient(top, #8438ee, #34db85);
  background-image: -o-linear-gradient(top, #8438ee, #34db85);
  background-image: linear-gradient(to bottom, #8438ee, #34db85);
}
.bottom-alert{
  background: var(--color-gradient);
  color: #fcef00;
  box-shadow: 10px 5px 5px rgba(28, 236, 32, 0.4);
  border-radius: 15px;
}
.bt-forgot-password{
  background: var(--color-gradient);
  color: #00fc54;
  box-shadow: 10px 5px 5px rgba(122, 28, 236, 0.4);
  border-radius: 8px;
}
.input-login {
  padding-inline-start: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  min-height: 25px;
  height: auto;
  max-width: 300px;
  width: auto;
  color: #021108;
  background: rgba(0, 3, 10, 0.2);
  box-shadow: 10px 5px 5px rgba(10, 40, 30, 0.4);
}

.cursor-home:hover{
  cursor: pointer;
}

/*

https://www.youtube.com/watch?v=LOjQYWRJmbk
https://www.youtube.com/watch?v=B9g9jTKy-Lg
https://www.youtube.com/watch?v=GK0ok3ZCXwM
.root {
  !* Light *!
  --color-light-50: #f8fafc;

  !* Dark *!
  --color-dark-50: #797984;
  --color-dark-100: #312d37;
  --color-dark-900: #000;

  !* Purple *!
  --color-purple-50: #7c3aed;
  --color-purple-100: #a855f7;
  --color-purple-200: #bf46ef;

  !* Gradient *!
  --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
}

!* General *!
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-log {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-gradient);
}

.login_form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: var(--color-light-50);
  padding: 30px 40px;
  border-radius: 8px;
  gap: 30px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
  animation: dark-to-light-background 0.3s ease-in-out;
}

!* Form Header *!
.form_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_header h1 {
  font-size: 40px;
  position: relative;
}

.form_header h1::before {
  position: absolute;
  content: '';
  width: 40%;
  height: 3px;
  background-color: var(--color-purple-50);
  bottom: 10px;
  border-radius: 5px;
}

.mode_icon {
  cursor: pointer;
  font-size: 20px;
}

!* Social Media *!
.social_media {
  display: flex;
  justify-content: space-around;
}

.social_media img {
  width: 35px;
}

.social_media img:hover {
  transform: scale(1.2);
}

!* Inputs *!
.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.input-box>label {
  font-size: 14px;
  color: var(--color-dark-50);
}

.input-field {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 3px;
  border-bottom: 1px solid var(--color-purple-50);
  cursor: text;
}

.input-field i {
  font-size: 18px;
  cursor: text;
  color: var(--color-dark-900);
}

.input-field input {
  border: none;
  width: 260px;
  background-color: transparent;
  font-size: 18px;
  padding: 0px 5px;
}

.input-field input:focus {
  outline: none;
}

!* Forgot password *!
.forgot_password a {
  text-decoration: none;
  color: var(--color-dark-50);
  font-size: 12px;
}

.forgot_password a:hover {
  color: var(--color-purple-50);
}

!* Login Button *!
.login_button {
  border: none;
  background: var(--color-gradient);
  padding: 7px;
  border-radius: 3px;
  color: var(--color-light-50);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.login_button:hover {
  transform: scale(1.05);
}

!* Dark Mode *!
.dark#login_form {
  color: var(--color-light-50);
  background-color: var(--color-dark-100);
  animation: light-to-dark-background 0.3s ease-in-out;
}

.dark#login_form .input-field input,
.dark#login_form .input-field i {
  color: var(--color-light-50);
}

@keyframes dark-to-light-background {
  0% {
    background-color:var(--color-dark-100);
  }
  100.0% {
    background-color:var(--color-light-50);
  }
}

@keyframes light-to-dark-background {
  0% {
    background-color:var(--color-light-50);
  }
  100.0% {
    background-color:var(--color-dark-100);
  }
}
*/

.spinner {
  position: relative;
  width: 15.7px;
  height: 15.7px;
}

.spinner div {
  animation: spinner-4t3wzl 1.875s infinite backwards;
  background-color: #474bff;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.spinner div:nth-child(1) {
  animation-delay: 0.15s;
  background-color: rgba(71, 75, 255, 0.9);
}

.spinner div:nth-child(2) {
  animation-delay: 0.3s;
  background-color: rgba(71, 75, 255, 0.8);
}

.spinner div:nth-child(3) {
  animation-delay: 0.45s;
  background-color: rgba(71, 75, 255, 0.7);
}

.spinner div:nth-child(4) {
  animation-delay: 0.6s;
  background-color: rgba(71, 75, 255, 0.6);
}

.spinner div:nth-child(5) {
  animation-delay: 0.75s;
  background-color: rgba(71, 75, 255, 0.5);
}

@keyframes spinner-4t3wzl {
  0% {
    transform: rotate(0deg) translateY(-200%);
  }

  60%, 100% {
    transform: rotate(360deg) translateY(-200%);
  }
}
