.main-body{
  width: auto;
  height: auto;
}

.table-head-data{
  width: auto;
  height: 1%;
}

.table-child{
  background-image: linear-gradient( #8438ee, #34db85);
}

 .mdc-data-table__table {
   height: fit-content;
   background-color: rgba(51, 33, 83, 0.07);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   table-layout: auto;
 }

.componet-gradient {
  min-width: 120px;
  width: auto;
  height: 50px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.componet-gradient:hover {
  background-image: linear-gradient( #8438ee, #34db85);
}

.button-update {
  width: auto;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.button-add{
  max-width: 100px;
  background-position:left ;
  width: auto;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.button-search-vd {
  width: 100%;
  min-width: 50px;
  height: 35px;
  background-color: rgba(51, 33, 83, 0.07);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.image-table{
  height: auto;
  min-height: 50px;
  min-width: 50px;
  width: 20%;
}

.head-table-vd{
  border-radius: 15px;
  background-color: rgba(51, 33, 83, 0.07);
  color: #0f2102;
  display: grid;
  align-content: end;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-gap: 2px;
  min-height: 45px;
  height: auto;
}
.input-table-vd{
  padding-inline-start: 10px;
  border-bottom-left-radius: 15px;
  min-height: 25px;
  height: auto;
  max-width: 300px;
  width: auto;
  color: #32e27e;
  background: rgba(0, 3, 10, 0.05);
}


tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
  width: fit-content;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}




