

<div >
<mat-card >

  <mat-toolbar class="head-table-vd body"  >
    <h3> Vendas </h3>
    <button  class="button-add" (click)="openDilogVd(produtControl.value)" >
      <mat-icon>add</mat-icon>
    </button>
    <input class="input-table-vd" type="text" placeholder=" Digite a consulta" matInput
           [formControl]="vendaControl"
           (keypress)="changeSales(vendaControl.value)"
           (keydown)="listarVenda()"
           (ngModelChange)="consultarPorCliente(vendaControl.value)"   />

    <button class="button-search-vd body"> Search</button>

  </mat-toolbar>
  <table mat-table class=" body" [dataSource]="tbSourceVd$" multiTemplateDataRows>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsVd" class="table-child"></tr>

    <!-- <ng-container class="table-head-data" matColumnDef="{{column}}" *ngFor="let column of displayedColumnsVd">
          <mat-header-cell  *matHeaderCellDef> {{column}} </mat-header-cell>
          <mat-cell  *matCellDef="let element"> {{element[column]}} </mat-cell>
        </ng-container>
        -->

        <ng-container matColumnDef="nome_cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let elementVd"> {{elementVd.nomeCliente}} </td>
        </ng-container>

        <ng-container matColumnDef="dt_venda">
          <th mat-header-cell *matHeaderCellDef> Data</th>
          <td mat-cell *matCellDef="let elementVd"> {{elementVd.dt_venda}} </td>
        </ng-container>

  <ng-container matColumnDef="total_geral">
          <th mat-header-cell *matHeaderCellDef> Total</th>
          <td mat-cell *matCellDef="let elementVd"> {{elementVd.totalgeral}} </td>
        </ng-container>

       <ng-container matColumnDef="opicao">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon>redeem</mat-icon>
            <mat-icon>shopping_basket</mat-icon>
            <mat-icon>shopping_cart</mat-icon>
            Adicionar itens
          </th>
          <td mat-cell *matCellDef="let elementVd">
            <button class="componet-gradient" (click)="openDilogVd(elementVd)">
              <mat-icon type="hidden" title="Adicionar mais Item"  class="edit" >
                add_shopping_cart
              </mat-icon>
            </button>
          </td>
        </ng-container>


  <!-- Expanded Column -->
  <ng-container  matColumnDef="expandedDetail" >

    <th mat-cell *matCellDef="let elemento" [attr.colspan]="displayedColumnsVd.length" >
      <div class="example-element-detail" [@detailExpand]="elemento.isExpanded ? 'expanded' : 'collapsed'">

        <table mat-table class="table-child " [dataSource]="tbSourceItensDaVd$" >

          <tr mat-row *matRowDef=" let row; columns: displayedColumns"></tr>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.cod_produtos}} </td>
          </ng-container>

          <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
          </ng-container>

          <ng-container matColumnDef="preco">
            <th mat-header-cell *matHeaderCellDef> Preço </th>
            <td mat-cell *matCellDef="let element"> {{element.valor_venda}} </td>
          </ng-container>

          <ng-container matColumnDef="qtd">
            <th mat-header-cell *matHeaderCellDef> Qtd </th>
            <td mat-cell  *matCellDef="let element"> {{element.qtd_vendidas}} </td>
          </ng-container>

          <ng-container matColumnDef="soma">
            <th mat-header-cell *matHeaderCellDef> Soma </th>
            <td mat-cell *matCellDef="let element"> {{element.valor_parcial}} </td>
          </ng-container>

          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.dt_venda}} </td>
          </ng-container>

           <ng-container matColumnDef="imagem" >
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element" >
            <img class="image-table"
                 src="/assets/image/lambao.jpg" >
          </td>
        </ng-container>

          <ng-container matColumnDef="opicoes">
            <th mat-header-cell *matHeaderCellDef> Opições </th>
            <td mat-cell *matCellDef="let element">
              <button class="button-update" >
                <mat-icon type="hidden" title="Editar Item"  class="edit"
                          (click)="openDilogVd(element)"
                > <!--  [routerLink]="['edit']" > --> edite </mat-icon>
              </button>
              <button class="button-update" title="Remover Item"  >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

       <!--   <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="3"></td>
          </tr>
-->
        </table>
        </div>
    </th>

  </ng-container>
    <tr mat-row *matRowDef="let headRow; columns: displayedColumnsVd;"
        (click)="headRow.isExpanded = !headRow.isExpanded;
      rowClickHandler(headRow)"
    >
    </tr>
<!--     <tr mat-row *matRowDef="let headRow; columns: displayedColumnsVd;"
          (click)="headRow.isExpanded = headRow ? !headRow.isExpanded : headRow.isExpanded;
             rowClickHandler(headRow)"  >
         </tr>      -->

<!--  <tr mat-row *matRowDef="let boss; columns: displayedColumnsVd;"  class="example-element-row"
      [class.example-expanded-row]="boss.isExpanded"
      (click)="boss.isExpanded = !boss.isExpanded; toggleRow(boss)">
  </tr>-->

  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

   <!-- <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3"></td>
    </tr>-->
</table>


<mat-paginator [length]="100"
               [pageSize]="5"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="pageEvent = $event"
               aria-label="Select page"
               class="button-gradient body"   >
</mat-paginator>
</mat-card>
</div>
